# Ambiente virtual
venv/
.venv/
env/
ENV/

# Arquivos de variáveis de ambiente
.env
.env.*

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

